.index {
    background: crimson;
    height: 100vh;
}

li{
    color:floralwhite;
    font-size: 17px;
    font-weight: bold;
    transition: transform 0.2s;
}
li:hover {
  transform: scale(1.1); 
  
}
.allProducts{
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.link > a{
    color: #b6abab;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s;
    
}


.link > a:hover{
    
    font-size: 24px; 
}


